@import "../../../../customs.scss";

.graphsLeft{
  @extend %widget-border-glow;
  @extend %full-height;

  *{
  	display:inline;
	//color:white;
	@extend %text-glow;
	padding:15px;
	font-size:12pt;
	vertical-align: middle;
  }
}
