

$widgetBackgroundColor : rgba(0, 9, 22, 0.6);
$batMobileBackgroundColor : #222;
$borderGlowColor : rgba(26, 94, 110, 0.85);
$textColor : rgba(125, 174, 205, 1);
$alertRed : rgba(156, 19, 9, 0.88);
$batmanYellow : rgba(238,203,18,0.88);
$fadedWhite : rgba(255,255,255,0.7);
$batmanBlue : hsl(195, 50%, 50%);

%full-height{
  height: 100%;
}

%full-space {
  @extend %full-height;
  width: 100%;
}

%stripped-full-space {
  @extend %full-space;
  margin : 0;
  padding: 0;
}

%widget-border-glow {

  border: 0.5px solid $textColor;
  box-shadow: 0px 0px 15px $borderGlowColor;
  background-color: $widgetBackgroundColor;
}

%widget-border-glow-yellow {
  color: $batmanYellow;
  border: 0.5px solid $batmanYellow;
  box-shadow: 0px 0px 15px $borderGlowColor;
  background-color: $widgetBackgroundColor;
}

%circle {
  border-radius: 50%;
  @extend %ratio1-1;
}

%ratio1-1 {
  height : 0;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

%text-glow{
  text-shadow: 0px 0px 3px $borderGlowColor;
}
