@import "../../../../../../customs.scss";

.ammunition{
  @extend %widget-border-glow;
  @extend %full-space;

  padding-left: 30%;

  button {
    padding: 3%;
    @extend %widget-border-glow;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: $textColor;
    cursor: url('../../../../../../images/cursor_red.png'), pointer;
  }

  button:hover{
    @extend %widget-border-glow-yellow;
    color:$batmanYellow;
  }


  .bar-graph{
    height : 50%;
    width: 100%;
    position: relative;
  }

}
