.combat-mode{
  transform: translate(0%, -100%);
  div{
   // border: 1px solid orange;
  }

  .change-mode-button {
     h3{
       font-size: 1.5vw;
     }

  }
}

#top-panels {
  height: 60%;
}
#bottom-panels {
  height: 40%;
}

#change-mode-button-container{
  top: 70%;
}