.combat-mode{
  transform: translate(0%, -100%);
  padding: 2%;

  .change-mode-button {
     h3{
       font-size: 1.5vw;
     }

  }
}

#top-panels {
  height: 60%;
  .col-4{
  max-height:100%;
  }
}
#bottom-panels {
  height: 40%;
}

#change-mode-button-container{
  top: 70%;
}