@import "../../../../customs.scss";

.car-date{
  @extend %widget-border-glow;
  @extend %full-height;
  padding:10px;
  margin-bottom: 20px;
  *{
  	display:inline;
	//color:white;
	@extend %text-glow;
	font-size:12pt;
	vertical-align: middle;
  color: $textColor;
  }
}
