@import "../../../../customs.scss";

.change-speed-button {
  //padding: 10%;
  //button{
    @extend %widget-border-glow;
  /*  padding: 3%;
    padding-top: 20%;
    border: 0px;
    border-radius: 15%;*/
    color: $textColor;
    cursor: url('../../../../images/cursor_red.png'), pointer;
  //}
}
.change-speed-button:hover{
    @extend %widget-border-glow-yellow;
    color:$batmanYellow;
}
