@import "../../../../customs.scss";

.change-speed-buttons {
  //padding: 10%;
  button{
    @extend %widget-border-glow;
  /*  padding: 3%;
    padding-top: 20%;
    border: 0px;
    border-radius: 15%;*/
    color: $fadedWhite;
    transform: translate(0%, -100%);
    cursor: pointer;
  }
}
