@import "../../../customs.scss";


.car {

}

#top-pannels {
  height: 33%;
  #top-pannels:first-child{
    padding: ;
  }
}

#circles {
  height: 66%;

}

#center-pannel {
  @extend %full-height;
  position : absolute;
  top:2%;
  padding: 12%;
  padding-top: 0%;

}


