@import "../../../../../customs.scss";

.armory{
  @extend %full-space;
  color: $textColor;
      background: '../../../../images/armory/4.jpg'
}

#weapons-overview{
  @extend %circle;
  @extend %widget-border-glow;
  z-index: 4;
  background-color: black;
  transform: translate(-5%, 0%);
  overflow: hidden;


  h3{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}
