@import "../../../../customs.scss";


.center-pannel {
    width : 100%;
    @extend %widget-border-glow;
    @extend %circle;
    background-color: black;
    overflow: hidden;

  ul {
    padding: 0;
  }

  li {
    display: flex;
    position: absolute;
    width: 70%;
    height: 70%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: -20%;
    top: -20%;
    padding: 3px;
    @extend %widget-border-glow;
  }
  span {
    font-size: 8pt;
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-align: center;
    //transform: skew(-30deg) rotate(-60deg) scale(1);
    color: white;
  }

  li:nth-child(1) {
    transform:  rotate(30deg) skew(-30deg);
    span {
      transform: skew(30deg) rotate(-30deg) scale(1);
    }
  }
  li:nth-child(2) {
    transform: rotate(150deg) skew(60deg);
    span {
      transform: skew(-60deg) rotate(-150deg) scale(1);
    }
  }
  li:nth-child(3) {
    transform: rotate(180deg) skew(60deg);
    span {
      transform: skew(-60deg) rotate(-180deg) scale(1);
    }
  }
  li:nth-child(4) {
    transform: rotate(210deg) skew(-30deg);
    span {
      transform: skew(30deg) rotate(-210deg) scale(1);
    }
  }

  li:nth-child(5) {
    transform: rotate(330deg) skew(60deg);
    span {
      transform: skew(-60deg) rotate(-330deg) scale(1);
    }
  }

  li:nth-child(6) {
    transform: rotate(360deg) skew(60deg);
    span {
      transform: skew(-60deg) rotate(-360deg) scale(1);
    }
  }
}

.center-button {
  height: 5px / 12px * 100%;
}

.absolute-top {
  position: absolute;
  top: 0%;
}

.absolute {
  position: absolute;
}

.separator{
}