@import "../../../../customs.scss";

.speed {
  width : 100%;
  height: 50%;
  @extend %widget-border-glow;
  @extend %circle;

  div {
    position: absolute;
    top : 0;
    height: 100%;
  }

}

.subCircle{
  margin-top:-50px;
  height: 100%;
}

.speed svg {
  //position: absolute;
  //top: 0%;
  //left: 0%;
  transform: rotate(200deg);
}
 h2 {
   position : relative;
   vertical-align: middle;
   text-align: center;
   color: $textColor;
   height:auto;
 }

 #change-speed-buttons{
   padding: 20%;
   .change-speed-button {
     width: 30%;
     margin-right: 35%;
     margin-left: 35%;
   }
 }

.speedPie{
  transform: rotate(-8.5deg);
}
