@import "../../../../customs.scss";

.speed {
  width : 100%;
  @extend %widget-border-glow;
  @extend %circle;

  div{
    position: absolute;
    top : 0;
    @extend %full-height;
  }
}

.speed svg {
  //position: absolute;
  //top: 0%;
  //left: 0%;
  transform: rotate(200deg);
}
 h2 {
   position : relative;
   vertical-align: middle;
   text-align: center;
   color: $textColor;
   height:auto;
 }

 #change-speed-buttons{
   padding: 20%;
   .change-speed-button {
     width: 30%;
     margin-right: 35%;
     margin-left: 35%;
   }
 }
