@import "../../../../../customs.scss";



.change-mode-button {

  //transform: translate(25%, 25%) scale(1.5);
  z-index: 10;
  width: 100%;
  @extend %circle;
  position: absolute;
  box-shadow: 0px 0px 15px $batmanYellow;
  background-color: black;
  color: $batmanYellow;
  //padding: 0px;
  cursor: pointer;
  cursor: url('../../../../../images/cursor_red.png'), pointer;

  h3 {
    //position : absolute;
    margin-top: -100%;
    vertical-align: middle;
    text-align: center;
  //  color: $batmanYellow;
    opacity: 0.7;
    height:auto;
    font-size : 2vw;
  }

}

.change-mode-button:hover{
  color: $alertRed;
  box-shadow: 0px 0px 15px $alertRed;
}
