@import "../../../../../customs.scss";



.change-mode-button {
  position: absolute;
  z-index: 10;
  width: 100%;
  @extend %circle;
  box-shadow: 0px 0px 15px $batmanYellow;
  background-color: black;
  color: $alertRed;
  //padding: 0px;

  h3 {
    //position : absolute;
    margin-top: -100%;
    vertical-align: middle;
    text-align: center;
    color: $batmanYellow;
    opacity: 0.7;
    height:auto;
    font-size : 2vw;
  }

}
