@import "../../../../customs.scss";


::-webkit-scrollbar {
  display: none;
}

.law-panel{
  @extend %full-space;
  @extend %widget-border-glow;

}

#search-tab{
  height: 15%;

  input {
    color: $textColor;
    @extend %widget-border-glow;
  }
}

#outlaws-display{
  height: 85%;
  overflow: hidden;

  .col-12{
    height: 100%;
    overflow-y:scroll;
    margin-right: -17px;
    padding-right: 30px;
  }
}

