@import "../../../../customs.scss";


::-webkit-scrollbar {
  display: none;
}

.law-panel{
  @extend %full-space;
  @extend %widget-border-glow;
  //padding: 2%;

}

#search-tab{
  //width: 100%;
  height: 15%;

  input {
    color: $textColor;
    @extend %widget-border-glow;
  }
}

#outlaws-display{
  height: 85%;
  .col-12{
    height: 100%;
    overflow-y: scroll;
  }
}
