@import "../../../../customs.scss";

.graphsRight{
  @extend %widget-border-glow;
  @extend %full-height;

  svg{
    border: 1px solid $borderGlowColor;
    opacity: 0.7;
    background: $widgetBackgroundColor;
  }
}
